CucumberishExample/CucumberishExample.xcworkspace/xcuserdata/*
CucumberishExample/CucumberishExample.xcodeproj/xcuserdata/*
CucumberishExample/Pods/Pods.xcodeproj/xcuserdata/*
CucumberishLibraryTest/CucumberishLibrary.xcodeproj/xcuserdata/*
CucumberishLibraryTest/CucumberishLibrary.xcodeproj/project.xcworkspace/xcuserdata/*

CucumberishExample/DerivedData
CucumberishExample/Build