.build
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc

Tests/CucumberishExample/CucumberishExample.xcworkspace/xcuserdata/*
Tests/CucumberishExample/CucumberishExample.xcodeproj/xcuserdata/*
Tests/CucumberishExample/Pods/Pods.xcodeproj/xcuserdata/*
Tests/CucumberishLibraryTest/CucumberishLibrary.xcodeproj/xcuserdata/*
Tests/CucumberishLibraryTest/CucumberishLibrary.xcodeproj/project.xcworkspace/xcuserdata/*

Tests/CucumberishExample/DerivedData
Tests/CucumberishExample/Build
